
services:

  db:
    image: postgres:15
    container_name: mongestionnaire_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mongestionnaire
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: mongestionnaire_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend/app
    container_name: mongestionnaire_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  postgres_data:
